In [1]:
import sys
sys.path.append('../')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from constants import *
import os
from eda_utils import *
from utils import eval_stat
import seaborn as sns
import pickle as pkl
import joblib

c:\Users\malay\miniconda3\envs\cs776\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_pickle(bihar_data_419)

In [4]:
df

,timestamp,device_id,block,district,latitude,longitude,rh,temp,pm25
0,2023-06-01 00:00:00,1201230029,ARARIA,ARARIA,26.148,87.457,NaN,NaN,NaN
1,2023-06-01 00:00:00,1201230033,KURSAKANTA,ARARIA,26.359,87.443,NaN,NaN,NaN
2,2023-06-01 00:00:00,1201230034,SIKTY,ARARIA,26.407,87.549,NaN,NaN,NaN
3,2023-06-01 00:00:00,1201230052,NARPATGANJ,ARARIA,26.338,87.107,NaN,NaN,NaN
4,2023-06-01 00:00:00,1201230053,BHARGAMA,ARARIA,26.089,87.152,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
930931,2023-08-18 23:00:00,B4E62D2A3BA4,LAURIYA,WCHAMPARAN,26.994,84.410,NaN,NaN,NaN
930932,2023-08-18 23:00:00,B4E62D2A46CD,BAGAHA-II,WCHAMPARAN,27.133,84.060,NaN,NaN,NaN
930933,2023-08-18 23:00:00,BCDDC247BFE3,BHITAHA,WCHAMPARAN,26.907,84.136,NaN,NaN,NaN
930934,2023-08-18 23:00:00,DC4F22364445,PIPRASI,WCHAMPARAN,27.060,84.023,NaN,NaN,NaN
930935,2023-08-18 23:00:00,DC4F22364AC8,MAINATAND,WCHAMPARAN,27.102,84.647,NaN,NaN,NaN

In [5]:
grp = df.groupby('timestamp')
df = df[['timestamp', 'latitude', 'longitude', 'rh', 'temp', 'pm25']]
len(grp)

1896

In [6]:
timestamps = []

In [7]:
cnt = 0

for name, group in grp:
    cnt += (1 if group['pm25'].count() >= 300 else 0)
    if group['pm25'].count() >= 300:
        timestamps.append(name)
cnt

541

In [8]:
# timestamps

In [9]:
data = df[df['timestamp'].isin(timestamps)]

In [10]:
file_name = f'{data_bihar}/Bihar_419_data_modified.csv'
data.to_csv(file_name, header=True, index=False)
data.groupby('timestamp').count()

                     latitude  longitude   rh  temp  pm25
timestamp
2023-07-21 17:00:00       491        491  301   287   300
2023-07-21 18:00:00       491        491  298   292   300
2023-07-21 19:00:00       491        491  297   293   300
2023-07-21 20:00:00       491        491  292   292   300
2023-07-22 10:00:00       491        491  299   291   300
...                       ...        ...  ...   ...   ...
2023-08-16 08:00:00       491        491  354   344   355
2023-08-16 09:00:00       491        491  374   338   373
2023-08-16 10:00:00       491        491  379   322   374
2023-08-16 11:00:00       491        491  384   308   381
2023-08-16 12:00:00       491        491  339   266   338

[541 rows x 5 columns]

In [11]:
# df['timestamp'] = df['timestamp'].values.astype(float)
data['timestamp'] = data['timestamp'].values.astype(float)
data.dtypes

c:\Users\malay\miniconda3\envs\cs776\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

timestamp    float64
latitude     float64
longitude    float64
rh           float64
temp         float64
pm25         float64
dtype: object

In [12]:
data = data.to_numpy()
data.shape

(265631, 6)

In [24]:
METHOD = 'iterative'
SPLIT = 'timestamp'
MODEL_TYPE = 'xgb'

In [20]:
imputed_data = impute(data, method=METHOD)
print(train_and_eval(imputed_data, method=METHOD, model_dir=model_dir, split=SPLIT, model_type=MODEL_TYPE))

[{'Train_RMSE': 5.589155620324339, 'Train_Pearson_R': 0.9442958108700729, 'Test_RMSE': 9.301712810326006, 'Test_Pearson_R': 0.8028917449615423}]

In [30]:
SPLITS = ['random', 'lat_long', 'timestamp']
METHODS = ['knn', 'mean', 'iterative']

In [29]:
for SPLIT in SPLITS:
    print(train_and_eval(imputed_data, method=METHOD, model_dir=model_dir, split=SPLIT, model_type=MODEL_TYPE))

[{'Train_RMSE': 7.6586878494643775, 'Train_Pearson_R': 0.8644008850970275, 'Test_RMSE': 8.597848724586674, 'Test_Pearson_R': 0.8508542049859105}]
[{'Train_RMSE': 7.338908286263078, 'Train_Pearson_R': 0.8746329148369499, 'Test_RMSE': 9.434005627093422, 'Test_Pearson_R': 0.7920821571642448}]
[{'Train_RMSE': 7.338908286263078, 'Train_Pearson_R': 0.8746329148369499, 'Test_RMSE': 9.434005627093422, 'Test_Pearson_R': 0.7920821571642448}]

In [31]:
for METHOD in METHODS:
    imputed_data = impute(data, method=METHOD)
    print(train_and_eval(imputed_data, method=METHOD, model_dir=model_dir, split=SPLIT, model_type=MODEL_TYPE))

[{'Train_RMSE': 7.899726858161879, 'Train_Pearson_R': 0.8975550649824264, 'Test_RMSE': 11.918575004492297, 'Test_Pearson_R': 0.7588057040908839}]
[{'Train_RMSE': 7.364545828433064, 'Train_Pearson_R': 0.8064213589521233, 'Test_RMSE': 9.53456491461118, 'Test_Pearson_R': 0.7083230972334401}]
[{'Train_RMSE': 7.338908286263078, 'Train_Pearson_R': 0.8746329148369499, 'Test_RMSE': 9.434005627093422, 'Test_Pearson_R': 0.7920821571642448}]